/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
}

/* Overlay closing cross */
.overlay .overlay-close {
    position: absolute;
    right: 25px;
    top: 25px;
    color: white;
    z-index: 100;
}

/* Overlay closing cross */
.overlay .overlay-link {
    position: absolute;
    left: 25px;
    top: 20px;
    margin: 0;
    color: white;
    z-index: 100;
}

.overlay-link a {
    text-decoration: none;
    color: white;
}


.overlay h1 {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 885px) {
    .overlay h1 {
        font-size:40px;
    }

    .overlay-link a {
        display: none;
    }
}

@media screen and (max-width: 590px) {
    .overlay h1 {
        font-size:25px;
    }

    .overlay-link a {
        display: none;
    }
}

/* Effects */
.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 80px; height: 0; overflow: hidden;
}

.overlay-container iframe,
.overlay-container object,
.overlay-container embed {
    position: absolute;
    top: 19%;
    left: 15%;
    width: 70% !important;
    height:66.666% !important;
    border: 3px solid #EEE;
}

@media screen and (max-width: 1180px) {
    .overlay-container-flickr {
        top: 19%;
    }
}

@media screen and (min-width: 1180px) {
    .overlay-container-flickr {
        top: 100px;
    }
}

.overlay-container-flickr {
    position: absolute;
    left: 15%;
    width: 100%;
    height: 120%;
}